In [7]:
import pandas as pd
df = pd.read_csv("../data/clean/all_seasons_clean.csv")
df.head()

,season,Team,GP,TOI,W,L,OTL,ROW,Points,Point %,...,LDGF,LDGA,LDGF%,LDSH%,LDSV%,SH%,SV%,PDO,made_playoffs,round_reached
0,2013:2014,Washington Capitals,82,5037.1000,38,30,14,28,90,0.549,...,52,43,54.74,4.89,96.67,9.32,91.68,1.010,0,0
1,2013:2014,Vancouver Canucks,82,5007.8500,36,35,11,31,83,0.506,...,43,32,57.33,3.58,96.89,7.56,90.72,0.983,0,0
2,2013:2014,Toronto Maple Leafs,82,5007.2333,38,36,8,29,84,0.512,...,39,44,46.99,3.74,96.91,9.69,91.44,1.011,0,0
3,2013:2014,Tampa Bay Lightning,82,5012.9333,46,27,9,38,101,0.616,...,39,28,58.21,3.68,97.24,9.48,91.29,1.008,1,1
4,2013:2014,Anaheim Ducks,82,4990.8833,54,20,8,51,116,0.707,...,40,22,64.52,3.81,97.75,10.24,91.38,1.016,1,2

In [8]:
df.shape

(310, 74)

In [9]:
df["season"].unique()

array(['2013:2014', '2014:2015', '2015:2016', '2016:2017', '2017:2018',
       '2018:2019', '2021:2022', '2022:2023', '2023:2024', '2024:2025'],
      dtype=object)

In [10]:
df["season"].value_counts().sort_index

<bound method Series.sort_index of season
2023:2024    32
2024:2025    32
2022:2023    32
2021:2022    32
2017:2018    31
2018:2019    31
2014:2015    30
2013:2014    30
2015:2016    30
2016:2017    30
Name: count, dtype: int64>

In [11]:
df.columns

Index(['season', 'Team', 'GP', 'TOI', 'W', 'L', 'OTL', 'ROW', 'Points',
       'Point %', 'CF', 'CA', 'CF%', 'FF', 'FA', 'FF%', 'SF', 'SA', 'SF%',
       'GF', 'GA', 'GF%', 'xGF', 'xGA', 'xGF%', 'SCF', 'SCA', 'SCF%', 'SCSF',
       'SCSA', 'SCSF%', 'SCGF', 'SCGA', 'SCGF%', 'SCSH%', 'SCSV%', 'HDCF',
       'HDCA', 'HDCF%', 'HDSF', 'HDSA', 'HDSF%', 'HDGF', 'HDGA', 'HDGF%',
       'HDSH%', 'HDSV%', 'MDCF', 'MDCA', 'MDCF%', 'MDSF', 'MDSA', 'MDSF%',
       'MDGF', 'MDGA', 'MDGF%', 'MDSH%', 'MDSV%', 'LDCF', 'LDCA', 'LDCF%',
       'LDSF', 'LDSA', 'LDSF%', 'LDGF', 'LDGA', 'LDGF%', 'LDSH%', 'LDSV%',
       'SH%', 'SV%', 'PDO', 'made_playoffs', 'round_reached'],
      dtype='object')

In [13]:
df.groupby("season")["made_playoffs"].sum()

season
2013:2014    16
2014:2015    16
2015:2016    16
2016:2017    16
2017:2018    16
2018:2019    16
2021:2022    16
2022:2023    16
2023:2024    16
2024:2025    16
Name: made_playoffs, dtype: int64